@charset "UTF-8";

html,
body {
  width: 100%;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  word-wrap: break-word;
  word-break: keep-all;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

h3.title {
  color: $common-font-color;
  font-size: $common-font-size;
  font-weight: bold;
}

fieldset,
img {
  border: 0px none;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  padding: 3px 10px;
  min-width: 46px;
  height: 25px;
  font-family: 'Roboto', 'Noto Sans Kr', sans-serif;
}

body {
  background: #fff;
}

body,
th,
td,
input,
select,
textarea {
  font-size: 14px;
  font-family: 'Roboto', 'Noto Sans Kr', sans-serif;
  color: #7d7d7d;
}


a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  border: 0px;
}

a:hover,
a:focus {
  text-decoration: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

summary,
caption,
legend {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  border: none;
  position: absolute;
  left: -1000em;
}

caption {
  position: static;
}

/* label hidden 처리 */
.invisible {
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
}

label.invisible {
  *position: Absolute;
}

::-moz-selection {
  background-color: transparent;
}

*:not(input, textarea, select)::selection {
  background-color: transparent;
}

/* common */
.clfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

.clfix {
  display: block;
}

* html .clfix {
  height: 1%;
}

/* Hides from IE-mac */
.clfix {
  zoom: 1;
}

body {
  font-size: 14px;
  position: relative;
}

select {
  display: block;
  width: 100%;
  outline: 0;
  height: 26px;
  border: 1px solid #bbb
}

option {
  background: #fff;
  color: #585858
}

option:hover {
  background: #fff !important;
  color: #276ef1 !important
}

textarea {
  width: 100%;
  min-height: 26px;
  padding-left: 5px;
  padding-top: 3px;
  border: 1px solid #bbb;
  color: #555;
  outline: 0;
}

select:hover,
textarea:hover {
  box-shadow: 0 0 3px 0 rgba(65, 170, 255, 0.8);
  border-color: rgb(65, 170, 255);
}

input {
  outline: 0;
}

button {
  transition: background-color 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  box-shadow: 0 0 0px 1000px white inset !important;
}


input[type="number"],
input[type="password"],
input[type="text"],
input[type="number"] {
  border: 1px solid #bbb;
  height: $input-height;
  width: 100%;
  padding-left: 5px;
}

input[type="text"]:autofill::selected {
  background: #fff
}

input[type="number"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="text"]:disabled:hover,
select:disabled:hover,
textarea:disabled:hover {
  box-shadow: none;
  border: 1px solid #bbb
}

textarea:read-only,
input[type="number"]:read-only,
input[type="password"]:read-only,
input[type="text"]:read-only {
  border: 1px solid #ddd
}

textarea:read-only:hover, input[type="number"]:read-only:hover, input[type="password"]:read-only:hover, input[type="text"]:read-only:hover {
  box-shadow: none;
  border: 1px solid #ddd
}

/*select는 readonly 속성이 적용되지 않는다*/
textarea:read-only:focus, input[type="number"]:read-only:hover, input[type="password"]:read-only:focus, input[type="text"]:read-only:focus {
  border: 1px solid #ddd
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
  position: relative;
  appearance: none;
  background: #fff;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid #bbb
}

input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: none;
  height: 75%;
  width: 40%;
  left: 3px;
  top: 0px;
  position: relative;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked {
  background: #276ef1;
  border: 1px solid #276ef1
}

input[type="checkbox"]:checked::after {
  display: block
}

input[type="radio"] {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
  appearance: none;
  background: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: relative;
  border: 1px solid #bbb
}

input[type="radio"]::after {
  border: solid #276ef1;
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  background: #276ef1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"]:checked {
  background: #fff;
  border: 1px solid #276ef1
}

input[type="radio"]:checked::after {
  display: block
}

input[type="radio"]+input[type="radio"] {
  margin-left: 16px
}

input[type="number"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  box-shadow: 0 0 3px 0 rgba(65, 170, 255, 0.8);
  border-color: rgb(65, 170, 255);
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: rgb(65, 170, 255);
}

.table_minH {
  min-height: 26px;
  display: flex;
  align-items: center
}

input:disabled,
textarea:disabled,
select:disabled {
  background: #e9e9e9
}

input[type="checkbox"]:disabled:hover,
input[type="radio"]:disabled:hover {
  box-shadow: none;
  border: 1px solid #bbb
}


.tab-menu {
  border-bottom: 1px solid #ddd;
  height: 33px;
}

.tab-menu li {
  position: relative;
  background: #eee;
  color: #888;
  display: inline-block;
  line-height: 32px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 0;
  height: 32px;
  padding: 0 16px;
  border: 1px solid #eee;
  border-bottom: none
}

.tab-menu li:hover {
  color: #464646;
}

.tab-menu li.active {
  color: #276ef1;
  opacity: 1;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  height: 33px;
  font-weight: 500
}

.tab-menu li.active:hover {
  color: #276ef1;
}

.tab-content {
  margin-top: 10px
}

.tab-content>div {
  width: 100%;
}

.modalWrap {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
}

.modalWrap .modalBase {
  min-height: 104px;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  min-width: 196px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalWrap .modalBase .subject {
  font-size: 11pt;
  color: #353535;
  text-align: center;
}

.modalWrap .modalBase .modalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.modalWrap .modalBase .titleIcon img {
  vertical-align: middle;
  margin-top: -3px;
}