@charset "UTF-8";

$common-selection-color: rgb(39, 110, 241);
$common-font-size: 14.67px;
$common-font-color: rgb(52, 52, 52);
$common-color-grey: rgb(221, 221, 221);
$common-color-hover-orange: rgb(255, 180, 70);

$input-height: 26px;
$input-color-error: rgba(245, 75, 80, 0.9);
$input-color-hover: rgba(65, 170, 255, 0.8);

$menu-color-font: rgb(130, 130, 130);
$menu-color-bg-depth-1: rgb(220, 232, 253);
$menu-color-bg-depth-2: rgb(194, 214, 251);

$layout-border-radius: 3px;
$layout-side-width: 220px;